.footer {
    position: relative;
    padding: 125px 0 0;

    &__wrapper {
        background: #961914;
        border-radius: 2px;
        color: $white-color;
    }

    &__decor-line {
        position: absolute;
        top: 15%;
        right: -7%;
        z-index: 1;

        @include b(tablet) {
            width: 186px;
            height: 221px;
            top: 2%;
            right: -5%;
        }
    }

    &__wrap {
        display: flex;
        justify-content: space-between; 
        
        @include b(tablet) {
            flex-direction: column;
        }
    }

    &__col-info {
        width: 26%;

        @include b(tablet) {
            width: 100%;
        }
    }

    &__info-header {
        padding: 80px 0 0;
        margin-bottom: 8px;

        @include b(tablet) {
            padding-top: 56px;
            margin-bottom: 10px;
            line-height: 1.3;
        }
    }

    &__info-top {
        margin-bottom: 32px;
    }

    &__phone {
        margin-bottom: 24px;
        @include trs;

        &-num {
            color: $white-color;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__btn-logo {
        width: 24px;
        height: 24px;        
    }

    &__btn-text {
        padding-left: 11px;
        font-size: 14px;
        font-weight: 500;
    }

    &__link {
        color: $white-color;
        @include trs;

        &:hover {
            text-decoration: underline; 
        }
    }

    &__info-bottom {
        margin: 24px 0 80px 0;

        @include b(tablet) {
            margin-bottom: 10px;
        }
    }

    &__decor-tablet {
        position: absolute;
        width: 297px;
        height: 353px;
        left: -97%;
        bottom: 15%;
        transform: rotate(215deg);

        @include b(tablet) {
            transform: rotate(85deg);
            left: 72%;
            bottom: -10%;
        }

        @include b(mobile) {
            left: 60%;
        }
    }

    &__col-form {
        position: relative;
        width: 70%;
        padding: 110px 75px 75px 130px;
        z-index: 2;
    
        @include b(tablet) {
            padding: 56px 0 242px;
            width: 100%;
        }
    }

    &__decor-dog {
        width: 110px;
        height: 110px;
        position: absolute;
        top: 15%;
        left: 0;

        @include b(tablet) {
            top: -30%;
            left: 100%;
        }
    }

    &__decor-meat {
        width: 143px;
        height: 144px;
        position: absolute;
        top: 50%;
        left: -7%;

        @include b(tablet) {
            top: 0;
            left: 105%;
        }
    }

    &__form-header {
        margin-bottom: 4px;
        font-size: 20px;
        font-weight: 600;
    }

    &__form-label {
        margin-bottom: 34px;

        @include b(tablet) {
            margin-bottom: 20px;
        }
    }
    
    &__form {
       
        &-input {
            display: flex;
            
            @include b(tablet) {
                flex-direction: column;
            }
        }

        &-name {
            padding-right: 12px;
            width: 100%;

            @include b(tablet) {
                padding-right: 0;
            }
        }

        &-email {
            padding-left: 12px;
            width: 100%;

            @include b(tablet) {
                padding-left: 0;
            }
        }
    }

    &__form-text,
    &__textarea {
        width: 100%;
        height: 48px;
        outline: none;
        background: rgba(255, 255, 255, 0.05);
        border: 1px solid rgba(255, 255, 255, 0.5);
        border-radius: 8px;
        margin-bottom: 22px;
        color: $white-color;
        font-family: $main-ff;
        line-height: $main-lh;
        font-size: 14px;
        padding: 0 15px;
        @include trs;

        @include b(tablet) {
            margin-bottom: 16px;
        }

        &:focus {
            border-color: $white-color;
        }

        &::placeholder {
           color: rgba($white-color,  0.6);
        }       
    }

    &__form-text:hover,
    &__textarea:hover {
        border: 3x solid rgba(255, 255, 255, 0.5);
        @include trs;
    }

    &__textarea {
        height: 122px;
        padding: 8px 15px;
        resize: none;
    }

    &__form-bottom {
        display: flex;
        justify-content: space-between;

        @include b(tablet) {
           flex-direction: column;
        }
    }

    &__form-check {
        width: 50%;
        padding: 0 25px;
    }

    &__decor-apple {
        width: 104px;
        height: 103px;
        position: absolute;
        bottom: 0;
        right: -5%;

        @include b(tablet) {
            right: 87%;
            bottom: 10%;
        }
    }
}

.checkbox {
    margin: 0;
    cursor: pointer;

    input {
        position: absolute;
        left: -9999px;
        opacity: 0;

        &:checked + .checkbox-text::before {
            background-color: $white-color;
            border-color:  $white-color;
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.999756 4.23077L3.99976 7L8.99976 1' stroke='%23961914' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
        }
    }       

    &-text {
        position: relative;
        font-size: 12px;
        
   
        @include b(tablet) {
           margin-bottom: 33px;
        }

        &::before {
            position: absolute;
            content: "";
            width: 16px;
            height: 16px;
            border: 1px solid rgba(255, 255, 255, 0.3);
            border-radius: 2px;
            left: -25px;
            top: -1px;
            transition: all .3s;
            background-size: 10px 8px;
            background-repeat: no-repeat;
            background-position: 2px 3px;
        }

        &:hover::before {
            border-color:  $white-color;  
        }
    }   
}