.menu__modal {
    display: none;
    min-width: 325px;
    height: 812px;
    position: fixed;
    background: #E5E5E5;
    top: 70px;
    right: 24px;
    left: 24px;

    
    &--open {
        display: block;
        @include trs;
    }

    &-top {
        @include x-center;
        justify-content: space-between;
    }

    &-xbtn {
        width: 25px;
        color: $main-color;
        border-radius: 15px;
        @include trs;
     
        &:hover {
            box-shadow: -3px 3px 2px $primary-light-color;
            transform: scale(1.5);
            @include trs;
        }

        &:active:hover {
           border: inset 2px $primary-color;
           transform: scale(2);
           @include trs;
        }
    }

    &-close {
        top: 40px;
        right: 26px;
        cursor: pointer;
        @include trs;
    }

    &-logo {
        width: 60px;
        height: 60px;
        top: 10px;
        left: 24px;
    }

    &-wrap {
        position: relative;
        padding: 20px 24px 102px;
        overflow: hidden;

        @include b(mobile-sm-b) {
            padding: 20px 0;
        }
    }

    &-col {
        width: 100%;
    }

    &-left {
        position: absolute;
        left: 0;
        top: 140px
    }

    &-right {
        position: absolute;
        right: 0;
        bottom: -30px;
    }

    &-list {
        text-align: center;
    }

    &-item {
        padding: 20px 0;
        font-weight: 600;
    }

    &-link {
        position: relative;
        @include trs;
            
        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -3px;
            width: 0;
            height: 2px;
            background-color: #961914;
            @include trs;
        }

        &:hover::after {
            width: 100%;
        }

    }
}

